header > .d-flex img {
  width: 5em;
}

main {
  background: linear-gradient(
    to bottom right,
    rgb(170 235 255),
    rgb(255 210 250)
  );
}

main > form label.form-label {
  font-weight: 600;
}

footer > p {
  font-weight: 600;
  margin-bottom: 0;
}

main > .card {
  background-image: url(../assets/cherry-blossoms.jpg);
  background-size: cover;
  text-shadow: 0.1em 0.1em 0.3em black;
}

main #catalog-container figure {
  cursor: pointer;
  position: relative;
  height: stretch;
  top: 0;
  transition: top 0.1s ease-in;
}

main #catalog-container figure:hover {
  top: -0.3em;
}

#catalog-container figure p,
#catalog-container figure h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
